

html, body {
  background: linear-gradient(to right, #03426D, #298C85);
  height: 100%;
  margin: 0;
  padding: 0;
}

form, h1 {
    text-align: center;
  }
 
label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    padding-top: 10px;
  }

.redpro_input_text input[type="text"]:focus {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
  }

.redpro_input_text input[type="text"] {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    width: 40%;
  }

.redpro_email input[type="email"] {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    width: 40%;
  }
  
input[type="url"] {
    width: 75%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1px;
    font-size: 20px;
  }

.column_rediger_profil input[type="file"] {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 16px;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
    width: 25%;
}

  
.oppdater_profil_knapp button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
.oppdater_profil_knapp button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
.error {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
  }
  
.rediger_profil {
    position: relative;
    justify-content: center;
  }
  

.rediger_some {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.column_rediger_profil {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

  .vis_profil_bilde {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  }

  .profil_bilde {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profil_bilde input[type="file"] {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 16px;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
    width: 42%;
    margin-bottom: 15px;
    margin-top: 15px;
     
  }
