body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('Pictures/Login-background.jpg') no-repeat center center fixed;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.digikort-heading{
    text-align: center;
    color: rgb(66, 65, 65);
}

.login-container {
    text-align: left;
}

.email-form, .password-form{
    position: relative;
    width: 90%;
    border-bottom: 1px solid #414242;
    margin: 10px 10px;
    
}


.login-container label{
    position: absolute;
    color: #3b3a3a;
    left: 10px;

}


input[type=text], input[type=password] {
    width: 100%;
    border-radius: 10px;
    padding: 20px 10px 10px;
    margin: 2px 0px;
    background: transparent;
    border: none;
    outline: none;
    font-size: medium;
  }

form {
    position: absolute;
    text-shadow: 5px;
    color: #FFFFFF;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
    width: 400px;
    border: 2px solid #f0eded;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(20px);

  }
.remember-password-checkbox{
padding: 5px 110px 10px;
}

.signup-form {
    position: relative;
   color: black;
   padding: 0px 10px;
   display: flex;
    justify-content: right;
    margin-bottom: -20px;
    margin-top: -10px;
}

.forgot-password-form {
    color: black;
    padding: 0px 8px;
    display: flex;
    justify-content: right;
}


button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 155px;
  }

  button[type="submit"]:hover {
    background-color: #0069d9;
  }


::placeholder {
    font-size: medium;
}