body {
    line-height: 1.25rem;
    max-width: 90%;
    background-color: #485364;
    text-align: center;
}

.digikort-heading{
    text-align: center;
    color: snow;
    font-family: 'Times New Roman', Times, serif;
}

.email-form {
    position: relative;
}

.login-form{
    
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	    
  }