body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.digikort-heading {
    text-align: center;
    color: rgb(66, 65, 65)
}

.registrer-container {
    text-align: left;
}