body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('Pictures/Login-background.jpg') no-repeat center center fixed;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.digikort-heading{
    text-align: center;
    color: rgb(82, 81, 81);
}

.login-container {
    text-align: left;
}

.email-form, .password-form{
    position: relative;
    width: 90%;
    border-bottom: 2px solid #162938;
    margin: 10px 0;
    
}


.login-container label{
    position: absolute;
    color: #1d1c1c;
    left: 5px;

}


input[type=text], input[type=password] {
    width: 90%;
    padding: 14px 30px;
    margin: 2px 0;
    background: transparent;
    border: none;
    outline: none;
  }

form {
    position: absolute;
    text-shadow: 5px;
    color: #FFFFFF;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
    width: 400px;
    border: 2px solid #f0eded;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    



  }

  