body {
    font-family: "Montserrat", sans-serif;
}

.login-page, .register-page {
    display: flex;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background: url('backgrounds/Login-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;

}

/* 
---------------------------------------------------------------------------
STYLING GJELDENDE FOR LOGIN.PHP, CHANGE-PASSWORD.PHP OG REGISTRER-KONTO.PHP
---------------------------------------------------------------------------
*/

.digikort-heading{
    text-align: center;
    color: rgb(66, 65, 65);
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

.login-container {
    text-align: left;
}

.email-form, .password-form, .firstname-form, .new-password-form, .confirm-password-form{
    position: relative;
    width: 90%;
    border-bottom: 1px solid #414242;
    margin: 10px 10px;
}

.login-container label{
    position: absolute;
    color: #3b3a3a;
    left: 10px;

}

/* Login form */

.form-control input[type=email], input[type=text], input[type=password], input[type=tel] {
    width: 85%;
    padding: 10px 10px 13px;
    margin: 7px 0px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #414242;
    outline: none;
    font-size: medium;
  }

.login-form, .register-form, .bytt-passord-form {
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
    width: 400px;
    border: 1px solid #cfcdcd;
    background: transparent;
    border-radius: 10px;
  }

  .register-form {
    text-align: center;
  }

  .already-has-user-clicker{
    font-size: medium;
  }

  .register-button{
    margin-top: 2rem;
  }

  @media (max-width:450px){
    form {
        font-size: 5vw;
        width: 100%;
    }
    }

    @media only screen and (max-width: 600px) {
    .login-form, .register-form{
        width: 300px;
    }
    }

    @media only screen and (max-width: 280px) {
        .login-form, .register-form {
            width: 250px;
        }
    }

.signup-form {
    position: relative;
   color: black;
   padding: 0px 10px;
   display: flex;
    justify-content: right;
    margin-bottom: -20px;
    margin-top: -10px;
}

.forgot-password-form {
    color: black;
    padding: 0px 8px;
    display: flex;
    justify-content: right;
}

.already-has-user-clicker {
    text-decoration: none;
}

.login-container button[type="submit"], .register-button button[type="submit"], .bytt-passord-container button[type="submit"], .form-submit button[type="submit"]{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 10px auto;
  }

  button[type="submit"]:hover {
    background-color: #0069d9;
  }


::placeholder {
    font-size: medium;
}

.register-user{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 10px auto;
}

/* 
---------------------------------------
STYLING GJELDENDE FOR CHANGE-PASSWORD.PHP
---------------------------------------
*/

.bytt-passord-form {
    height: 400px;
}

.bytt-passord-container button[type="submit"] {
    margin-top: 50px;
}

@media only screen and (max-width: 450px) {
    .bytt-passord-form {
        width: 250px;
        height: 350px;
    }
}