* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #99A8BF;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 10%;
    background-color: #03426D;
}

.profile_picture {
    cursor: pointer;
    margin-right: auto;
    border-radius: 50%;
    height: 100px;
    outline: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: blueviolet;
}

