@media only screen and (max-width: 375px) { /* iPhone screen size */
  .column {
    flex-basis: 100%; /* Full width for small screens */
  }
}

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {

}

form, h1 {
    text-align: center;
  }
 
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    padding-top: 10px;
  }

  input[type="text"]:focus {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
  }

  input[type="text"] {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    width: 40%;
  }

  input[type="email"] {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    width: 40%;
  }
  
  input[type="url"] {
    width: 75%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1px;
    font-size: 20px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .error {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .rediger_profil {
    position: relative;
    justify-content: center;
  }
  

  .rediger_some {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
  }